.grid * {
    padding: 10px 15px;
    background-color: rgb(47, 98, 163);
    border: 1px solid rgb(23, 76, 119);
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: #fff;
}

.grid {
    display: grid;
    /* grid-template-columns: 100px 200px 100px; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: minmax(100px, 400px) 100px 100px 100px;
    /* grid-template-rows: 100px 100px 100px; */
    grid-template-rows: 100px minmax(100px, auto) 100px;
    grid-gap: 30px;
}